/* ::::: If you made it this far, we have some tech hobbies in common! add me on linkedin so we can chat::::: */

* { margin: 0px; padding: 0px; }
body {
	background-color: rgb(244, 137, 7);
	color: rgb(255,255,255);
	font: 14px "Open Sans", sans-serif;
	font-weight: 300;
}
.hidden { display: none; }
.noselect { -moz-user-select: none; }
#floaty-thing {
	height: 690px;
	margin: 50px auto 0px;
	position: absolute;
	width: 600px;
}

#wp7 { height: 690px; width: 520px; left:10px;}
#frame { height: 690px; position: relative; width: 550px;}
#frame .top {
	background: url('frame-top.png') no-repeat scroll 0% 0% transparent;
	cursor: move;
	height: 60px;
	top: 6px;
	left: 60px;
	position: absolute;
	width: 500px;
	z-index: 5;
}
#frame .left {
	background: url('frame-left.png') no-repeat scroll 0% 0% transparent; cursor: move;
	height: 867px;
	left: 60px;
	position: absolute;
	top: 52px;
	width: 32px;
	z-index: 5;
}
#frame .right {
	background: url('frame-right.png') no-repeat scroll 0% 0% transparent; cursor: move;
	height: 867px;
	left: 374px;
	position: absolute;
	top: 52px;
	width: 32px;
	z-index: 5;
}
#frame .bottom {
	background: url('frame-bottom.png') no-repeat scroll 0% 0% transparent; cursor: move;
	bottom: -78px;
	height: 201px;
	position: absolute;
	width: 500px;
	z-index: 5;
	left: 60px;
}

#frame .back {  no-repeat scroll 0% 0%
 transparent; bottom: 77px; cursor: pointer; height: 39px; left: 80px; position: absolute; width: 96px; z-index: 5; }
#frame .home {  no-repeat scroll 0% 0% transparent; bottom: 77px; cursor: pointer; height: 39px; left: 183px; position: absolute; width: 90px; z-index: 5; }
#frame .search {  no-repeat scroll 0% 0% transparent; bottom: 77px; cursor: pointer; height: 39px; left: 280px; position: absolute; width: 95px; z-index: 5; }
#title { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1); position: absolute; left: 425px; top: 10px; width:430px;}
#title .name {text-align: left; font-size: 55px; margin: 20px 20px 0px 25px;}
#title .name span {  font-weight: bold; color: black;  }
#title .steps {text-align: center ; font-size: 25px; margin: 0px 15px 0px 0px; color: black; }
#title .aboutme { font-size: 18px; margin: 20px 20px 30px 25px; color: white; }
#content { background: none repeat scroll 0% 0% rgb(0, 0, 0); height: 515px; left: 86px; overflow-y: hidden; position: absolute; top: 52px; }
#viewport { height: 515px; position: relative; width: 288px; }
#content .window-size {
	float: left;
	height: 515px;
	position: absolute;
	width: 288px;
	z-index: 2;
}
#content .time { font-size: 13px; position: absolute; right: 5px; top: 2px; }

#content .home-screen {
	background: none repeat scroll 0% 0% rgb(0, 0, 0);
	float: left;
	height: 515px;
	overflow: hidden;
	position: absolute;
	width: 287px;
	z-index: 3;
}
#content .home-screen .arrow {
	background: url('helper.png') no-repeat scroll 0px 0px transparent;
	cursor: pointer;
	height: 515px;
	left: 288px;
	position: absolute;
	top: 0px;
	width: 288px;
}
#content .home-screen .boxes { left: 1px; list-style: none outside none; position: relative; top: 30px; width: 288px; }


#content .home-screen .box-large { background-color: rgb(27, 161, 0); cursor: pointer; float: left; margin: 2px 2px 3px 3px; height: 92px; width: 184px; }

#content .home-screen .box-medium { background-color: rgb(27, 161, 226); cursor: pointer; float: left; margin: 3px 3px 4px 4px; height: 91px; width: 89px; }

#content .home-screen .box-small1 {
	background-image: url('gplus.png') ;
	background-repeat: no-repeat ;
	background-size: contain ;
	background-position: 0px 0px ;
	background-color: rgb(95,135,125);
	cursor: pointer;
	float: left;
	height: 38px;
	width: 38px;
	padding: 2px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 4px;
	margin-left: 4px;
}

#content .home-screen .box-small2 {
	background-image: url('linkedin.png') ;
	background-repeat: no-repeat ;
	background-size: contain;
	background-position: 0px 0px ;
	background-color: rgb(95,135,125);
	cursor: pointer;
	float: left;
	height: 38px;
	width: 38px;
	padding: 2px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 4px;
	margin-left: 4px;
}


#content .home-screen .box-small4 {
	position: absolute;
	left: 141px;
	top: 98px;
	background-color: rgb(27,161,0);
	cursor: pointer;
	float: left;
	margin: 3px 3px 4px 4px;
	height: 42px;
	width: 42px;
}

#content .home-screen .box-small5 {
	position: absolute;
	left: 94px;
	top: 145px;
	background-color: rgb(255,102,0);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 42px;
	width: 42px;
}

#content .home-screen .box-small6 {
	position: absolute;
	left: 141px;
	top: 145px;
	background-color: rgb(255,102,0);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 42px;
	width: 42px;
}

#content .home-screen .box-medium3 {
	background-image: url('research.png') ;
	background-repeat: no-repeat ;
	background-size: contain ;
	background-position: 2px 2px ;
	position: absolute;
	left: 188px;
	top: 145px;
	background-color: rgb(102,51,153);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 91px;
	width: 89px;
}


#content .home-screen .box-medium2 {
	background-image: url('industry.png') ;
	background-position: 1px 3px;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: -1px;
	top: 98px;
	background-color: rgb(102,102,102);
	cursor: pointer;
	float: left;
	margin: 3px 3px 4px 4px;
	height: 91px;
	width: 89px;
}

#content .home-screen .box-mediumz {
	background-image: url('userguide.png');
	background-position: 1px 0px;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 94px;
	top: 98px;
	background-color: rgb(102,50,153);
	cursor: pointer;
	float: left;
	margin: 3px 3px 6px 4px;
	height: 91px;
	width: 89px;
}



#content .home-screen .box-large2 {
	background-image: url('res.png') ;
	position: absolute;
	left: -1px;
	top: 194px;
	background-color: rgb(0,0,204);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 92px;
	width: 184px;
}

#content .home-screen .box-large3 {
	background-image: url('portfolio.png');
	position: absolute;
	left: 94px;
	top: 388px;
	background-color: rgb(255,255,0);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 92px;
	width: 184px;
}

#content .home-screen .box-medium4 {
	background-image: url('uxdesign.png');
	background-position: 0px 3px;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 188px;
	top: 243px;
	background-color: rgb(0,0,255);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 91px;
	width: 89px;
}

#content .home-screen .box-medium5 {
	background-image: url('uxdefender.png');
	background-position: 2px 3px;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 0px;
	top: 292px;
	background-color: rgb(255,0,0);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 91px;
	width: 89px;
}

#content .home-screen .box-small7 {  position: absolute; left: 94px; top: 292px; background-color: rgb(27, 161, 226); cursor: pointer; float: left; margin: 4px 4px 4px 4px; height: 42px; width: 42px; }

#content .home-screen .box-small8 {  position: absolute; left: 141px; top: 292px; background-color: rgb(27, 161, 226); cursor: pointer; float: left; margin: 4px 4px 4px 4px; height: 42px; width: 42px; }

#content .home-screen .box-small9 {  position: absolute; left: 94px; top: 340px; background-color: rgb(27, 161, 226); cursor: pointer; float: left; margin: 4px 4px 4px 4px; height: 42px; width: 42px; }

#content .home-screen .box-small10 {  position: absolute; left: 141px; top: 340px; background-color: rgb(27, 161, 226); cursor: pointer; float: left; margin: 4px 4px 4px 4px; height: 42px; width: 42px; }

#content .home-screen .box-small11 {
	position: absolute;
	left: 188px;
	top: 340px;
	background-color: rgb(255,0,0);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 42px;
	width: 42px;
}

#content .home-screen .box-small12 {
	position: absolute;
	left: 235px;
	top: 340px;
	background-color: rgb(255,0,0);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 42px;
	width: 42px;
}

#content .home-screen .box-medium6 {
	position: absolute;
	left: -1px;
	top: 388px;
	background-color: rgb(51,51,255);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 91px;
	width: 89px;
}

#content .home-screen .box-medium7 {
	position: absolute;
	left: 94px;
	top: 388px;
	background-color: rgb(51,51,51);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 91px;
	width: 89px;
}

#content .home-screen .box-medium8 {
	position: absolute;
	left: 188px;
	top: 388px;
	background-color: rgb(255,255,0);
	cursor: pointer;
	float: left;
	margin: 4px 4px 4px 4px;
	height: 91px;
	width: 89px;
}


#content .home-screen .box-large { background-image: url('contact.png') ; background-position: 3px -5px;}

#content .home-screen .email { background-image: url('live-tiles.png'); background-position: -97px 0px; }

#content .home-screen .social { background-image: url('live-tiles.png'); background-position: -194px 0px; }
#content .home-screen .resume { background-image: url('live-tile.png'); background-position: -5px 0px; }

#content .home-screen .lists { left: 288px; list-style: none outside none; position: relative; top: 45px; width: 205px; }
#content .home-screen .list { cursor: pointer; height: 35px; margin-bottom: 15px; position: relative; }
#content .home-screen .list span { font-size: 20px; left: 45px; position: absolute; top: 5px; }
#content .home-screen li.list div { background-color: rgb(27, 161, 226); height: 35px; width: 35px; }



@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}
